# Excluir archivos del núcleo de WordPress
/wp-admin/
/wp-includes/

# Configuración sensible
wp-config.php

# Caché y archivos temporales
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/

# Logs
*.log
debug.log

# Dependencias
node_modules/
vendor/

# Archivos de sistema
.DS_Store
Thumbs.db
.env